@model SIOMS.Models.Product
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>
    @foreach (var item in ViewData.ModelState)
    {
        foreach (var error in item.Value.Errors)
        {
            <p style="color:red">@item.Key : @error.ErrorMessage</p>
        }
    }
</div>

<h2>Create Product</h2>

<form asp-action="Create" method="post">

    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Description</label>
        <input asp-for="Description" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Category</label>
        <select asp-for="CategoryId" class="form-control"
                asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
            <span asp-validation-for="CategoryId" class="text-danger"></span>

            <option value="">Select Category</option>
        </select>



    </div>

    <div class="form-group">
        <label>Supplier</label>
        <select asp-for="SupplierId" class="form-control"
                asp-items="@(new SelectList(ViewBag.Suppliers, "Id", "Name"))">
            <option value="">Select Supplier</option>
        </select>
    </div>

    <div class="form-group">
        <label>Price</label>
        @* <input asp-for="Price" class="form-control"/> *@
        <input asp-for="Price" class="form-control" type="number" step="0.01" />

    </div>

    <div class="form-group">
        <label>Stock Quantity</label>
        <input asp-for="StockQuantity" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Minimum Stock Level</label>
        <input asp-for="MinimumStockLevel" class="form-control"/>
    </div>

    <button class="btn btn-success" type="submit">Save</button>

</form>




